/* GENERAL */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #101010;
    /*padding: 4.5em 0em 3em 0em;*/
}

p, a {
    color: white;
}

h1, h2, h3, h4, h5, h6, label {
    color: white;
    font-family: "DejaVu Sans Mono"
}

.display-4 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.contact {
    margin-bottom: 5em;
}

#content {
    padding-top: 50em;
}
.description {
    font-family: "DejaVu Sans Mono", "Helvetica";
}

/* NAVBAR */

.navbar {
    background: #2b3443 !important;

}

/* FOOTER */

.footer {
    background: #2b3443 !important;
}

/* JUMBOTRON */

.jumbotron {
    width: 100%;
    height: 700px;
    background-image: url(../img/jumbotron.jpeg);
    position : absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "DejaVu Sans Mono"
}

/* UTILITIES */

.text-justify {
    text-align: justify;
}

/* CARDS */

.card-title, .card-text {
    color: black;
    font-family: "DejaVu Sans Mono" ;

}


.card{
    border-radius: 10px;
    background: #fff;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 20px 10px 18px 36px;
    width: 900px;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}


.card img{
    position: absolute;
    justify-content: flex-end;
    border-radius: 5px;
    margin-left: 10px;
    margin-top: 20px;
    left: 2px;
    max-height: 150px;
}

.card-text {
    text-align: justify;
    margin-left: 15px;

}

.row#skill {
    margin-bottom: 100px;
    margin-top: 100px;

}

.row img {
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.row img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
